@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
.hbvsdj{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 400px;
    height: 200px;
    background: repeating-conic-gradient(from var(--a), #ff2770 0%, #ff2770 5%, transparent 5%, transparent 40%, #ff2770 50%);
    filter: drop-shadow(0 15px 50px #000);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.box:hover {
    width: 450px;
    height: 500px;
}


@keyframes rotating {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg
    }
}

.box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #45f3ff 0%, #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%);
    filter: drop-shadow(0 15px 50px #000);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    animation-delay: -1s;
}

.box::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
}

.login {
    position: absolute;
    inset: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
    /* a */
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    /* a */
    transition: 0.5s;
    color: white;
    overflow: hidden;
}

.box:hover .login {
    inset: 40px;
}

.loginBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    transition: 0.5s;
    transform: translateY(126px);
}

.box:hover .loginBx {
    transform: translateY(0px);
}

.loginBx h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.loginBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 1em;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    border-radius: 30px;
}

.loginBx input::placeholder {
    color: #999;
}

.login input[type="submit"] {
    background: #45f3ff;
    border: none;
    font-weight: 500;
    color: #111;
    cursor: pointer;
    transition: 0.5s;
}

.login input[type="submit"]:hover {
    box-shadow: 0 0 10px #45f3ff, 0 0 60px #45f3ff;
}

.inputBox span {
    position: absolute;
    left: 0;
    font-size: 1em;
    padding: 12px 32px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}

.inputBox input:focus~span,
.inputBox input:valid~span {
    transform: translate(27px, -10px);
    font-size: 0.75em;
    background: #ffffffc5;
    color: #222;
    padding: 2px 5px;
    border: 1px solid #000;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
}